@model Graduation.Data.Models.DxfFile

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DxfFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaticFilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaticFilePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelativeFilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelativeFilePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser2.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
